<app-nav-comp></app-nav-comp>
<h1 class="font-monospace text-bg-success text-center mb-4 bg-dark p-3 fw-bold">Add Employee</h1>

<div class="container mt-5">
  <table class="table table-bordered ">
    <tr class="border-black text-center bg-gradient text-bg-primary ">
      <th>Count</th>
      <th>ID</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Department</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr class="text-center" *ngFor="let employee of employeeList; index as i">
      <td>{{i+1}}</td>
      <td>{{"Emp#00"+employee.id}}</td>
      <td>{{employee.firstName+" "+employee.lastName}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.department_id}}</td>
      <td>{{employee.role_id}}</td>
      <td><button class="btn btn-danger m-1" (click)="deleteEmployee(employee)"><i
            class="bi bi-trash-fill"></i></button></td>
      <td></td>
      <td><button class="btn btn-secondary" (click)="updateEmployee(employee)" data-bs-toggle="modal"
          data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
    </tr>

  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">ID:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedEmp.id" name="id" disabled>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedEmp.name" name="name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">E-Mail:</label>
            <input type="text" class="form-control" id="recipient-name"  [(ngModel)]="selectedEmp.email" name="email">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Department_Id:</label>
            <input type="text" class="form-control" id="recipient-name"  [(ngModel)]="selectedEmp.department" name="department">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Role_Id:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectedEmp.role" name="role">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>